# SR Linux startup config for spine-02
set / system lldp admin-state enable
set / system lldp interface ethernet-1/1 admin-state enable
set / system lldp interface ethernet-1/2 admin-state enable

set / interface ethernet-1/1 admin-state enable
set / interface ethernet-1/1 subinterface 0 ipv4 admin-state enable
set / interface ethernet-1/1 subinterface 0 ipv4 address 10.1.3.1/30

set / interface ethernet-1/2 admin-state enable
set / interface ethernet-1/2 subinterface 0 ipv4 admin-state enable
set / interface ethernet-1/2 subinterface 0 ipv4 address 10.1.4.1/30

set / system name host-name spine-02
