# SR Linux startup config for dist-02
set / system lldp admin-state enable
set / system lldp interface ethernet-1/1 admin-state enable
set / system lldp interface ethernet-1/2 admin-state enable

# e1-1: to campus-core 10.2.1.4/30
set / interface ethernet-1/1 admin-state enable
set / interface ethernet-1/1 subinterface 0 ipv4 admin-state enable
set / interface ethernet-1/1 subinterface 0 ipv4 address 10.2.1.6/30

# e1-2: to access-02 10.2.2.4/30
set / interface ethernet-1/2 admin-state enable
set / interface ethernet-1/2 subinterface 0 ipv4 admin-state enable
set / interface ethernet-1/2 subinterface 0 ipv4 address 10.2.2.5/30

set / system name host-name dist-02
